.layout {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 1;
    min-height: 0;
}

.course-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course-input {
    display: flex;
}

.course-calendar {
    display: flex;
    overflow-y: scroll;
}
